.wrapper {
  display: flex;
  justify-content: space-between;
}

.static-background {
  position: absolute;
  width: 100%;
  height: 100dvh;
  z-index: -999;
  overflow: hidden;
}
.static-background .desktop-bg {
  height: 100%;
  width: 25%;
}

.mobile-bg {
  width: 100%;
  height: 200px;
  display: none;
  position: absolute;
  top: 0;
  z-index: -999;
}

.form-container {
  height: 100vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: start;
}
.form-container form {
  display: flex; /* flex */
  flex-direction: column;
  margin: 15px;
  max-width: 390px;
}
.form-container form label {
  font-size: 0.9rem;
  margin-bottom: 10px;
  font-weight: 500;
  color: hsl(278, 68%, 11%);
}
.form-container form input {
  font-size: 1.125rem;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 7px;
  border: 2px solid hsl(270, 3%, 87%);
}
.form-container form input:focus {
  background: linear-gradient(white, white) padding-box, linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%)) border-box;
  border: 2px solid transparent;
  outline: none;
}
.form-container form input::-moz-placeholder {
  color: hsl(279, 6%, 55%);
}
.form-container form input::placeholder {
  color: hsl(279, 6%, 55%);
}
.form-container form div {
  display: flex;
}
.form-container form div div:first-child {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.form-container form div .exp-date-container {
  width: 50%;
}
.form-container form div .exp-date-container div {
  gap: 10px;
}
.form-container form div .exp-date-container div input {
  width: 50%;
}
.form-container form div .cvc-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.form-container form button {
  background-color: hsl(278, 68%, 11%);
  color: white;
  font-size: 1.2rem;
  padding: 13px;
  border-radius: 7px;
  border: none;
  margin-top: 20px;
  transition: 0.1s;
}
.form-container form button:hover {
  cursor: pointer;
  background-color: hsl(278, 94%, 30%);
  box-shadow: 0px 5px hsl(278, 93%, 22%);
  transform: translateY(-5px);
}
.form-container form button:active {
  background-color: hsl(278, 92%, 35%);
  box-shadow: none;
  transform: translateY(3px);
}

span {
  font-size: 0.8rem;
  transform: translateY(-10px);
  color: hsl(0, 100%, 66%);
  display: none;
}

.exp-date-container {
  position: relative;
}
.exp-date-container span {
  position: absolute;
  bottom: 0;
}

input:invalid {
  outline: 1px solid hsl(0, 100%, 66%);
}
input:invalid ~ span {
  display: block;
}

input:invalid:not(:focus):-moz-placeholder-shown {
  outline: none;
}

input:invalid:not(:focus):placeholder-shown {
  outline: none;
}
input:invalid:not(:focus):-moz-placeholder-shown ~ span {
  display: none;
}
input:invalid:not(:focus):placeholder-shown ~ span {
  display: none;
}

.thank-you-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  width: 390px;
}
.thank-you-page img {
  width: 80px;
  margin-bottom: 30px;
}
.thank-you-page p:first-of-type {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 20px;
  letter-spacing: 3px;
}
.thank-you-page p:last-of-type {
  color: hsl(279, 6%, 55%);
  font-size: 1rem;
  margin-bottom: 30px;
  font-weight: 500;
  letter-spacing: 1px;
}
.thank-you-page button {
  background-color: hsl(278, 68%, 11%);
  color: white;
  font-size: 1.2rem;
  padding: 13px;
  width: 100%;
  border-radius: 7px;
  border: none;
  margin-top: 20px;
  transition: 0.1s;
}
.thank-you-page button:hover {
  cursor: pointer;
  background-color: hsl(278, 94%, 30%);
  box-shadow: 0px 5px hsl(278, 93%, 22%);
  transform: translateY(-5px);
}
.thank-you-page button:active {
  background-color: hsl(278, 92%, 35%);
  box-shadow: none;
  transform: translateY(3px);
}

@media (max-width: 1100px) {
  .form-container {
    justify-content: center;
  }
}
@media (max-width: 957px) {
  .card-container {
    position: relative;
    height: 300px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
  }
  .mobile-bg {
    display: block;
  }
  .desktop-bg {
    display: none;
  }
  form, .thank-you-page {
    padding-top: 360px;
  }
}/*# sourceMappingURL=App.css.map */